<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Grammar Checker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<div id="inputdiv">
  <h2>Grammar Checker</h2>
  <select name="languages" id="language">
    <option value="german" selected>German</option>
    <option value="spanish" >Spanish</option>
  </select>
  <p>
  <input id="input" placeholder="Enter your text">
  </p>
  <p>
  <input type="submit" id="correct" value="correct" onclick="userAction()">
  </p>
  <p id="output">//results//</p>
  <p id="corrections"></p>
  <div id="groupdiv">
    <p>CALL Project  -  Group 3<p>
  </div>
</div>

<script>
  const userAction = async () => {
    e = document.getElementById("corrections")
    var child = e.lastElementChild; 
    while (child) {
      e.removeChild(child);
      child = e.lastElementChild;
    }

    var e = document.getElementById("language");
    var language = e.value;

    var formdata = new FormData();
    formdata.append("input", document.getElementById("input").value);

    var requestOptions = {
      method: 'POST',
      mode: "no-cors",
      body: formdata,
      redirect: 'follow'
    };

      fetch(`https://0.0.0.0:5000/${language}`, requestOptions).then((response) => {
      console.log(response);
      response.json().then((data) => {
        console.log(data);
        document.getElementById("output").innerHTML = data["output"];
        var element = document.getElementById("corrections");
        for (const x of data["error"]) { 
          var tag = document.createElement("p");
          var text = document.createTextNode(x);
          tag.appendChild(text);
          element.appendChild(tag);
        }
      });
    });
}

</script>

  
</body>
</html>
